<div class="wrapper">
  <div class="container">
   <div class="title text-center">
    <div class="title-info">
      <h2>Skills</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-6, col-xs-offset-2">
        <div class="skills-container">


          <div class="skill">
            <%= image_tag ("ruby.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info text-center">
              <p>Skill info</p>
            </div>
          </div>


          <%= image_tag ("rails.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("js.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("heroku.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("github.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("jquery.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("mysql.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("postgresql.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("terminal.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("ajax.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("bootstrap.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("css.png"), class: "skill-image hvr-grow" %>
          <%= image_tag ("html.png"), class: "skill-image hvr-grow" %>
        </div>
      </div>
    </div>
  </div>
</div>

