<div class="wrapper">
  <div class="container education">
   <div class="title text-center">
    <div class="title-info">
      <h2><span class="dot">.</span>Skills</h2>
      <hr>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <div class="skills-container">
          <div class="skill">
            <%= image_tag ("ruby.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>Ruby</p>
            </div>
          </div>
          <div class="skill">
            <%= image_tag ("rails.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>Rails</p>
            </div>
          </div>
          <div class="skill">
            <%= image_tag ("js.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info text-center">
              <p>JavaScript</p>
            </div>
          </div>
          <div class="skill">
            <%= image_tag ("heroku.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>Heroku</p>
            </div>
          </div>
          <div class="skill">
            <%= image_tag ("github.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>GitHub</p>
            </div>
          </div>
          <div class="skill">
            <%= image_tag ("jquery.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>jQuery</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="skills-container">
          <div class="skill">
            <%= image_tag ("mysql.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>MySQL</p>
            </div>
          </div>
          <div class="skill">
            <%= image_tag ("postgresql.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>PostgreSQL</p>
            </div>
          </div>
          <div class="skill">
            <%= image_tag ("ajax.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>Ajax</p>
            </div>
          </div>
          <div class="skill">
            <%= image_tag ("html.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>HTML5</p>
            </div>
          </div>
          <div class="skill">
            <%= image_tag ("css.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>CSS</p>
            </div>
          </div>
          <div class="skill">
            <%= image_tag ("bootstrap.png"), class: "skill-image hvr-grow" %>
            <div class="skill-info">
              <p>Bootstrap</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



