<!-- Navbar -->
<%= render 'navbar' %>

<!--  -->
<div class="banner" style="background-image: linear-gradient(rgba(91, 60, 119, 0.38), rgba(83, 49, 109, 0.3)), url(<%= image_path ("background.jpg") %>)">
  <div class="banner-content">
    <h1>PETYA NIKOLOVA</h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <p>Junior Full-Stack Web Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'projects' %>

<%= render 'about-me' %>

<%= render 'education' %>

<%= render 'professional' %>

<%= render 'skills' %>

<!-- Footer -->
<%= render 'footer' %>

