<!--  -->
<div class="banner" style="background-image: url(<%= image_path ("banner.jpg") %>)">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6">
          <div class="banner-content">
            <h1>PETYA NIKOLOVA</h1>
            <p>Junior Full-Stack Web Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'projects' %>
<%= render 'about-me' %>
<%= render 'education' %>
<%# render 'professional' %>
<%= render 'skills' %>


