<!--  -->
<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<%= image_path ("banner.jpg") %>)">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="banner-content text-center">
            <h1>PETYA NIKOLOVA</h1>
            <p>Junior Full-Stack Web Developer</p>
            <div class="button">
              <a href="mailto:petia_182@yahoo.com" class="btn btn-primary">Contact me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  <div id="slider-arrow" data-target="#info-text">
  <%= image_tag "arrow_bottom.png" %>
</div>

<%= render 'projects' %>
<%= render 'about-me' %>
<%= render 'education' %>
<%# render 'professional' %>
<%= render 'skills' %>
<%= render 'fun' %>


